<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="loanMapper">
	<resultMap type="com.salre.main.loan.LoanDTO" id="loanVO">
		<id column="ID" property="id" />
	</resultMap>

	<select id="selectAll" resultType="loanVO">
		SELECT *
		FROM loan
		ORDER BY 1;
	</select>
</mapper>
