<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="notificationMapper">
	<resultMap type="notificationDTO" id="notificationVO">
		<id column="user_id" property="user_id" />
		<result column="notify_content" property="notify_content" />
		<result column="notify_time" property="notify_time" />
	</resultMap>

	<select id="select" resultMap="notificationVO" parameterType="map">
		SELECT *
		FROM loan
		WHERE loan_id = #{id};
	</select>
</mapper>
