<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.salre.main.notify">
	<select id="select" parameterType="int" resultType="notifyVO">
		SELECT *
		FROM notification
		WHERE user_id = #{user_id};
	</select>

	<insert id="insert" parameterType="notifyVO">
		INSERT INTO notification (user_id, notify_content, notify_time)
		VALUES (#{user_id}, #{notify_content}, CURRENT_TIMESTAMP);
	</insert>
</mapper>
