@charset "UTF-8";

footer {
    display: flex !important;
    justify-content: space-around !important;
    background-color: #222 !important;
    color: #fff !important;
    padding: 20px 0 !important;
}

footer div {
    text-align: left !important;
}

footer h3 {
	color: #fff;
	display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

footer ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

footer li {
    list-style: none !important;
    margin-bottom: 10px !important;
}

footer a {
    color: #f4a261 !important;
    text-decoration: none !important;
}